.customInput {
  display: block;
  font-size: 4.5rem;
  height: 6rem;
  width: 30rem;
  border-radius: 4px;
  border: none;
}

.custom-btn {
  font-size: 1.5rem;
  border: none;
  padding: 1rem;
  text-transform: none;
  border-radius: 2px;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.btn-primary {
  background-color: rgb(3, 158, 29);
  &:hover {
    background-color: darken($color: rgb(3, 158, 29), $amount: 0.2);
  }
}

.btn-secondary {
  background-color: rgb(255, 102, 0);
}
.btn-red {
  background-color: rgb(255, 0, 0);
  color: rgb(247, 247, 247);
}
.cwhite {
  color: white;
}

.ml-1 {
  margin-left: 1rem;
}
.custom-link {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 100%;
  color: azure;
  padding: 0.5rem;
  border-radius: 2px;
  text-align: center;
  font-size: 1.2rem;
  &:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  }
}

.btn-inline {
  display: inline;
}

.count-span {
  background-color: rgb(27, 252, 177);
  border-radius: 10px;
  padding: 0.5rem 1rem;
}
.jobsdueitem {
  cursor: pointer;
  transition: all 0.2s !important;
  &__open {
    background-color: rgb(147, 206, 80);
    height: 100px;
  }

  &__closed {
    height: 50px;
  }
}

.btns_show {
  transition: all 0.1s;
  transition-delay: 0.1s;
  visibility: visible;
  opacity: 1;
}
.btns_hide {
  visibility: hidden;
  opacity: 0;
}

input[type="datetime-local"] {
  height: 25px !important;
}
