.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(212, 212, 212);
}

.sidebar {
  display: flex;
  flex: 0 0 5%;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid white;
  background-color: rgb(22, 134, 87);
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}

.maincontent {
  flex: 100%;
}
.account__search {
  background-color: rgb(179, 240, 214);
  height: 100%;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .form-group {
    display: flex;
  }
  form {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      width: 50%;
      background-color: rgb(255, 72, 0);
      height: 50px;

      font-size: 3rem;
      text-transform: uppercase;
      border: none;
      border-radius: 2px;
    }
  }
  input {
    display: block;
    padding: 0.6rem;
    width: 260px;
    border: none;
    border-radius: 2px;
    font-size: 2rem;
    color: rgb(33, 82, 65);
  }
}
.query {
  font-size: 2rem;
}
.new__jobcard-form {
  width: 90% !important;
}
.form-buttons {
  width: 10% !important;
}

.searchAccountList {
  margin-top: 2rem;
  list-style: none;
  vertical-align: center;
  li {
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 2px;
    vertical-align: center;
  }
}

.newaccount {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  label {
    font-size: 2rem;
  }
  form {
    input {
      font-size: 2rem;
      padding: 0 4px;
      outline-color: rgb(89, 177, 2);
    }
    button[type="submit"] {
      font-size: 3rem;
      width: 100%;
      margin: 0;
    }
  }
}

.accounts__List,
.jobsdue__List {
  list-style: none;

  height: 90%;

  li:first-of-type {
    margin-top: 0.5rem;
  }
  li {
    font-size: 2rem;
    background-color: whitesmoke;
    padding: 1rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 2px;
    transition: all 0.2s;

    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    &:hover {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }
}

.account__info-page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  &-details {
    background-color: aliceblue;
    width: 20%;
    padding: 1rem;
    border-radius: 5px;
    border: 5px solid gray;
    h1 {
      font-size: 3rem;
      text-decoration: underline;
    }
  }
}

.newJobPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
