.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(146, 146, 146);
}

.sidebar {
  display: flex;
  flex: 0 0 5%;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid white;
  background-color: rgb(22, 134, 87);
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}

.maincontent {
  flex: 100%;
}
.account__search {
  background-color: rgb(179, 240, 214);
  height: 100%;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  form {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      width: 50%;
      background-color: rgb(255, 72, 0);
      height: 50px;
      margin-top: 2rem;
      font-size: 3rem;
      text-transform: uppercase;
      border: none;
      border-radius: 2px;
    }
  }
  input {
    display: block;
    padding: 0.6rem;
    height: 40px;
    width: 260px;
    border: none;
    border-radius: 2px;
    font-size: 2rem;
    color: rgb(33, 82, 65);
  }
}
.query {
  font-size: 2rem;
}
.new__jobcard-form {
  width: 87% !important;
}
.form-buttons {
  width: 13% !important;
}

.searchAccountList {
  margin-top: 2rem;
  list-style: none;
  vertical-align: center;
  li {
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 2px;
    vertical-align: center;
  }
}
