.new__jobcard {
  height: 100%;
  display: flex;
  font-size: 3rem;
  &-form {
    input[type="text"] {
      margin-bottom: 3rem;
      display: block;
      font-size: 2.5rem;
      height: 4rem;
      width: 30rem;
      border-radius: 4px;
      border: none;
      padding: 0.5rem !important;
    }
  }
}
.form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  button {
    height: 10rem;
    width: 100%;
    text-transform: uppercase;
    padding: 1rem;
    font-size: 1.8rem;
    background-color: rgb(22, 134, 87);
    color: #fdfdfd;

    &:hover {
      background-color: rgb(17, 109, 71);
    }
  }
  button[type="submit"] {
    margin-bottom: 2rem;
    color: #efefef;
    background-color: #da372c;
    margin-top: 1rem !important;
    &:hover {
      background-color: #bd3127;
    }
  }
}

.page1,
.page2,
.page3 {
  padding: 1rem;
  &__header {
    text-align: center;
    color: #474747;
  }
}
.page1 {
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    label {
      font-size: 2.5rem;
    }
    .form__group {
      margin: 2rem 2rem;
    }
  }
}

.page2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  &__content {
    display: flex;
    flex-direction: row;
    textarea {
      border: none;
      display: block;
    }
    &__condition-check,
    &__electrical-check {
      display: flex;
      justify-content: space-between;
    }
  }

  .lightcheckgroup,
  .noisecheckgroup,
  .tyrecheckgroup {
    label {
      font-size: 2.5rem;
      line-height: 1;
      margin-bottom: 1rem;
    }
    span {
      border-radius: 2px;
    }
    margin: 0.2rem;
    background-color: #c4c4c4;
    padding: 1rem;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.page3 {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;

    justify-content: center;
    &-form {
      display: flex;
      font-size: 2rem;
      flex-wrap: wrap;
      justify-content: space-evenly;
      input {
        height: 10px;
        &::placeholder {
          font-size: 2rem;
        }
      }
    }
  }
}

.page3-table {
  margin-top: 2rem;
  background-color: #ffffff;
  width: 100%;
  border-collapse: collapse;
  text-transform: uppercase;
  th {
    background-color: rgb(22, 134, 87);
    color: #f0f0f0;
    font-size: 2rem;
  }
  tr {
    background-color: #cccccc;
    font-size: 1.9rem;
    color: black;
    margin-bottom: 0.3rem;
    box-shadow: 1px 1px 2px rgba(00, 0, 0, 0.3);
    text-align: center;
    border-bottom: 0.5px solid rgb(97, 97, 97);
  }
}

@media only screen and (max-width: 1024px) {
  .new__jobcard {
    flex-direction: row;
    font-size: 2rem;
    padding: 0 1rem;
    align-items: center;

    justify-content: space-between;
    form {
      width: 98%;
      height: 100%;
    }
    &-form input[type="text"] {
      font-size: 2rem;
      background-color: rgb(240, 238, 238);
      height: 4rem;
      margin-bottom: 2rem;
    }
    .page1 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      label {
        display: none;
      }
    }
    .page3 {
      &__content {
        select {
          width: 260px;
          font-size: 2.5rem;
          text-transform: uppercase;
          option {
            margin: 0.2rem;
          }
        }
      }
    }
    .page2 {
      display: flex;
      flex-direction: column !important;
      height: 100%;

      &__header {
      }
      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        &__condition-check {
          display: flex;
          flex-wrap: wrap;
        }
        &__electrical-check {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }

  .form-buttons {
    display: flex;
    flex-direction: column;

    button {
      font-size: 2rem !important;
      margin: 0.3rem 0 !important;
      padding: 1rem 1rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .new__jobcard {
    overflow: scroll;
    flex-direction: column;
    font-size: 2rem;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
    form {
      width: 98%;
    }
    &-form input {
      font-size: 2rem;
      height: 4rem;
      margin-bottom: 2rem;
    }
    .page1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      label {
        display: none;
      }
    }

    .page2 {
      display: flex;
      flex-direction: column;

      &__content {
        padding: 0 !important;
        textarea {
          border: none;
          display: block;
        }
      }
      .lightcheckgroup,
      .noisecheckgroup,
      .tyrecheckgroup {
        width: 100%;
        margin: 0;
        margin-bottom: 1rem;
        padding: 1rem;
      }
    }
  }

  .form-buttons {
    display: flex;
    flex-direction: column;

    button {
      font-size: 1.4rem !important;
      margin: 0.1rem 0 !important;
      padding: 0.5rem 0.5rem;
    }
  }
}

#conditionCheckGroup label {
  @media only screen and (max-width: 600px) {
    margin: 3px;
    background-color: #d4d4d4;
    border-radius: 4px;
    border: 1px solid #d0d0d0;
    overflow: auto;
    height: 4rem;
    width: 10rem;
  }
  float: left;

  margin: 3px;
  background-color: #efefef;
  border-radius: 4px;
  border: 1px solid #d0d0d0;
}
#conditionCheckGroup label span {
  @media only screen and (max-width: 1024px) {
    font-size: 1.8rem;
    padding: 3px;
  }
  @media only screen and (max-width: 600px) {
    font-size: 1.8rem;
    padding: 5px;
  }

  text-align: center;
  font-size: 30px;
  width: 50px;
  padding: 10px 0px;
  display: block;
}
#conditionCheckGroup label input {
  position: absolute;
  visibility: hidden;
}

#conditionCheckGroup .nw:checked + span {
  background-color: #ff4545;
  color: #f7f7f7;
}

#conditionCheckGroup .s:checked + span {
  background-color: #a3fa68;
  color: #f7f7f7;
}

#conditionCheckGroup .d:checked + span {
  background-color: #9c9e3b;
  color: #f7f7f7;
}
#conditionCheckGroup .yes:checked + span {
  background-color: #479e24;
  color: #f7f7f7;
}
#conditionCheckGroup .no:checked + span {
  background-color: #a02b23;
  color: #f7f7f7;
}
.servicegroup .paidcb:checked + span {
  background-color: #18a34d;
  color: #f7f7f7;
}

.priceul {
  background-color: #a02b23;

  li {
    color: black;
  }
}
